<div class="container-fluid">
    <div class="page_header">
        <h4>Return and Warranty policy</h4>
    </div>
    <div class="policy_detail">
        <h3>Warranty Policy </h3>
        <ul>
            <li>
                Saleable warranty policy helps you stay covered in case of defects in material, design and workmanship
                after purchase of the product. On selected products and in instances where we are considered the seller,
                a twelve (12) months warranty will be provided for the eligible items purchased for all the buyers
                within India. In instances where products are bought through a seller that is not us, the terms of the
                respective seller’s warranty will apply.
            </li>
            <li>
                Excluding Apple products (Accessories warranty: 1 year), other electronic device accessories are subject
                to a six (6) months warranty starting from the delivery date. Warranty of the item begins from the
                product delivery date.

            </li>
            <li>
                The address provided during the Warranty claim request will be registered as the pick up and delivery
                address for the claimed item. This cannot be modified.

            </li>
            <li>
                Warranty repairs will be carried out by authorized service centers. In instances where products are
                bought through a seller that is not us, the terms of the respective seller’s warranty will apply.

            </li>
            <li>
                The original invoice is required to verify the serial number and validate the warranty period to benefit
                from warranty services.

            </li>
            <li>
                The warranty repair period is twenty-one (21) working days for the units covered under the warranty from
                the date of picking the product from the customer until dispatched.

            </li>
            <li>
                Not all products are covered by the warranty, always check the product listing to know if it includes
                warranty benefits.

            </li>
            <li>
                Repair or replacement under the terms of this warranty does not provide right to extension or renewal of
                the warranty period. Warranty terms are in accordance with your device manufacturer.

            </li>
            <li>
                If your item can't be repaired but is still under the manufacturer's warranty, we will issue a
                replacement (from the same seller) or, if a replacement isn't available, you will be refunded in full.

            </li>
            <li>
                To avail of warranty services if a defect occurs in your product within the valid warranty period, you
                can raise the request through your Saleable account. Saleable warranty team shall contact you within 24
                hours for claim validation and troubleshooting followed by pictures of the product from all angles along
                with IMEI/Serial number.

            </li>
            <li>
                The customer shall ensure that the item is packed in its original box or wrapped safely to avoid any
                damage during transit. If the packaging is not done safely which leads to damage, Saleable will not be
                responsible for the same and the claimed item will be returned to the customer without servicing.

            </li>
            <li>
                Warranty services provided by sellers other than Saleable, are not the responsibility of Saleable. This
                includes spare part availability, repair period and/or quality of repair. The customer is to contact the
                warranty service provider directly in case of complaints or any other concern.

            </li>
            <li>
                Some service centers’ policy might be applied in the warranty claim in which they will ask you to pay an
                amount for the item that is out of warranty and you have rejected the repair price.

            </li>

        </ul>
        <h3>PICKUP AND DELIVERY POLICY</h3>
        <ul>
            <li>
                The customer must ensure the item is packed in its original box and wrapped safely. Saleable is not
                responsible for any damages that may occur during the shipping.

            </li>
            <li>
                The customer must provide the product and its accessories to the courier company during the pickup
                (electronic devices may include but not limited to, earphones, battery, charge carrier).

            </li>
        </ul>
        <h3>Return/Replacement Policy</h3>
        <ul>
            <li>
                You can place a Return request within 10 days of order delivery. However, in case of
                Damaged/Missing/Empty Package/Wrong Product, the Return request should be filed within 2 days of
                delivery.

            </li>
            <li>
                Return request will be reviewed by Saleable.
            </li>
            <li>
                If required, requests will be shared with the merchant for his/her approval.

            </li>
            <li>
                After approval, pickup of the product will be arranged through our courier partners.

            </li>
            <li>
                If our reverse pickup service is not available at your address, we will ask you to dispatch the product.
                The courier charges will be reimbursed by Saleable.
            </li>
            <li>
                After the product is received, it is verified against your claim and accordingly, Replacement or Refund
                is initiated. Please note that Replacement would depend upon the stock availability with the respective
                merchant

            </li>
        </ul>
        <h3>Returns/Replacement are accepted under the following cases </h3>
        <ul>
            <li>
                Wrong Product – Wrong color/ size/ style
            </li>
            <li>
                Wrong item ordered/ delivered

            </li>
            <li>
                Unsatisfactory Product – Inauthentic/ Low Quality/ Expired

            </li>
            <li>
                Defective Product - Manufacturing defect/ Non-functioning (Not applicable, if the product is under
                Manufacturer’s Warranty)

            </li>
            <li>
                Damaged Product – Physical damage/ Tampered product or packaging

            </li>
            <li>
                Wrong Quantity – Missing Products/ Parts

            </li>
            <li>
                No Invoice/Warranty Received – Available on Electronics only

            </li>
            <li>
                Empty packages

            </li>
        </ul>
        <h3>Returns/ Replacement requests will not accepted under following cases </h3>
        <ul>
            <li>
                If Products are Altered/ Used

            </li>
            <li>
                If Product is Returned without Original Packaging (price tags, labels & accessories)

            </li>
            <li>
                If Serial Number is tampered

            </li>
            <li>
                For Defective product that is covered under Seller/Manufacturer's Warranty or Reported after 10 days of
                the Delivery

            </li>
            <li>
                For Damaged/Missing/Empty Package/Wrong product that is reported after 2 days of the delivery

            </li>
            <li>
                For Products sold under specific promotions, details of which would be mentioned in the Product page and
                Terms & Conditions page

            </li>
            <li>
                Categories not eligible for returns are as follows :

            </li>

        </ul>
        <table>
            <thead>
 
                <tr>
                    <td>
                        Category

                    </td>
                    <td>

                        Item's that cant be returned


                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Automotive

                    </td>
                    <td>

                        Car perfume


                    </td>
                </tr>
                <tr>
                    <td>

                        Baby care


                    </td>
                    <td>

                        Nursing covers, diapers and nappies, soothers and teether, feeding related products, baby wipes


                    </td>
                </tr>
                <tr>
                    <td>Beauty</td>
                    <td>

                        Make up, skin care, hair care and personal care products


                    </td>
                </tr>
                <tr>
                    <td>

                        Eyewear


                    </td>
                    <td>

                        Contact Lens


                    </td>
                </tr>
                <tr>
                    <td>
                        Garden
                    </td>
                    <td>
                        Seeds and Live plants
                    </td>
                </tr>
                <tr>
                    <td>

                        Grocery and Gourmet


                    </td>
                    <td>

                        All items included in these categories


                    </td>
                </tr>
                <tr>
                    <td>

                        Fashion


                    </td>
                    <td>

                        Lingerie and innerwear, socks and stockings


                    </td>
                </tr>
                <tr>
                    <td>

                        Music, Software and Gaming


                    </td>
                    <td>

                        All products marked as non-returnable


                    </td>
                </tr>
                <tr>
                    <td>

                        Sports & Health


                    </td>
                    <td>

                        Nutrition and health care, Gym gloves, Gym vests, Gym supports and elderly care


                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                        *Any product that is labeled as non-returnable on its product detail page cannot be returned. 
        Return/Replacement request of the Product(s) should be initiated within 10 days of Order Delivery for Unsatisfactory product or in case of non-receipt of Invoice & Warranty (for Electronics only). However, under the following conditions, Return Request should be filed within 2 days of Delivery:

            </li>
            <li>
                Damaged Product

            </li>
            <li>
                Empty Parcel

            </li>
            <li>
                Missing Item

            </li>
            <li>
                Wrong Product
                <ul>
                    <li>Return request, refer to My Accounts, My Orders listing section and click on Return button on selected order once order is delivered to you.
                    </li>
                    <li>
                        Once your request to return an order is approved, a pickup will be initiated. Once return is approved for pick up, email will be sent to registered email id for pick up related details. Please keep the product ready with all tags & accessories. Kindly ensure proper packaging to avoid any damage during transit.
Please take care of the following points, while packing your product for Pickup -

                    </li>
                    <li>
                        Keep original price tag & packing slip intact

                    </li>
                    <li>
                        Mention Order Number on the box

                    </li>
                    <li>
                        Do not seal the box

                    </li>
                    <li>
                        Mention the Order Number/Delivery Address on the package, before handing over the packet to our Pickup executive

                    </li>
                    <li>
                        Keep the Courier Company's receipt for tracking purposes
                        <ul>
                            <li>
                                Please Note - Saleable shall not be liable for any incidental defect/damage, like liquid leakage/mishandling etc.

                            </li>
                            <li>
                                <strong>
                                    How to claim Return/ Replacement for products under Seller/ Manufacturer’s Warranty?
                                </strong>
                                You can Claim for the product's warranty by calling or visiting the nearest Service Centre of the product's Brand.

                            </li>
                            <li>
                                <strong>
                                    How much time does it take to replace an order?
                                </strong>
                                We initiate the replacement or refund within 2 working days once we receive the product at our end.

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>