@import "../../../../../vars";
.address_listings{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  h4{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .address_grid{
      padding: 5px;
      background: #fff;
      border: 1px solid #eee;
      margin: 5px 0 10px 0;
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  .address_header{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #565656;
  }
    .address_desc{
      p{
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
    }
    .address_footer{
      border-top: 1px solid #eee;
      padding: 8px 0 2px 0;
      ul{
        margin: 0;
        display: flex;
        justify-content: space-between;
        li{
          width: 50%;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          button{
            background: transparent;
            border: none;
            font-size: 13px;
            letter-spacing: 1px;
            color: $color-blue;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.default_address{
  border: 2px solid $color-green !important;
}
.no_address_found{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  p{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $color-black;

  }
  img{
    width: 100px;

  }
  h4{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-black;
  }
  button{
    border: 2px solid $color-blue;
    color: $color-blue;
    background: transparent;
    padding: 6px 40px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
  }
}
.view_cart{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  button{
    font-size: 11px;
    letter-spacing: 1px;
    padding: 7px 10px;
    border: none;
    background: $color-blue;
    color: #fff;
  }
}
