$color-blue: #26aeef;
$color-black: #3e4152;
$color-red: #dc3545;
$color-gray: #f7f7fa;
$card-shadow: 0 2px 16px 4px rgba(40,44,63,.07);
$color-orange: rgb(242, 153, 74);
$color-green: #2ed573;
$secondary-black: #535766;