<ul>
    <li routerLink="/my/profile" routerLinkActive="active">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/profile.png" >
        Profile
    </li>
    <li routerLink="/my/orders" routerLinkActive="active">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/purchase-order.png" >
        Orders
    </li>
    <li routerLink="/my/address" routerLinkActive="active">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/home-address.png" >
        Address
    </li>
    <!-- <li>
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/credit.png" >
        Payments
    </li> -->
    <li routerLink="/my/recent-reveiws" routerLinkActive="active">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/product-return+(1).png" >
        My Reviews
    </li>

    <li routerLink="/wishlist">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/wishlist.png">
        Wishlist
    </li>
    <li (click)="logOut()">
        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/log-out.png">
        Log out
    </li>

</ul>