<div class="product_detail_grid ">
    <div class="fix_width">
        <div class="product_filter">
            <div class="page_breadcrumb">
                <ul>
                    <li *ngIf="pageSerachType === 'brand'">
                        <strong>
                            {{pageSerachType | lowercase }}
                        </strong>
                    </li>
                    <ng-container *ngFor="let item of pageBreadCrumb; let i = index">
                        <li *ngIf="i === 1 || i === 2">
                            {{convertPercentageIntoSpace(item)}}
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="filter_wrapper">
                <div class="filter_heading">
                    <h4 class="filter_heading_content">Brand</h4>
                </div>
                <div class="filter_body">
                    <div class="filter_input">
                        <label *ngFor="let item of brandDetail">
                            <input type="checkbox" [checked]="item.isChecked" (change)="selectBrand($event.target)"
                                name="brand" value="{{item._id}}|{{item.title}}">
                            {{item.title}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="filter_wrapper">
                <div class="filter_heading">
                    <h4 class="filter_heading_content">Price</h4>
                </div>
                <div class="filter_body">
                    <div class="radio_listings" >
                        <label *ngFor="let Item of priceRanges">
                            <input type="radio"   (click)="selectPrice($event.target)"
                                name="price" value="{{Item.from}}/{{Item.to}}">
                                {{Item.from | currency: 'INR'}} to {{Item.to | currency: 'INR'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="filter_wrapper">
                <div class="filter_heading">
                    <h4 class="filter_heading_content">Ratings</h4>
                </div>
                <div class="filter_body">
                    <div class="radio_listings" >
                        <label *ngFor="let Item of ratings">
                            <input type="radio" name="ratings"  (click)="selectRating($event.target)"  value="{{Item.title}}">
                            {{Item.title}} <span class="fa fa-star checked"></span> and above
                        </label>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="products_listings">
            <div class="product_listings_header">
                <div class="headers">
                    <span>{{productData?.length}}</span>
                    Results For
                    <span>"{{linkType}}"</span>
                </div>
                <div class="header_filter">
                    <ul>
                        <li> Sort By
                            <select  (change)="onSortPrice($event.target.value)">
                                <option value="desc">Price: High To Low</option>
                                <option value="asc">Price: Low To High</option>
                            </select>
                        </li>
                        <li> Display
                            <select >
                                <option value="1">50 Per Page</option>
                                <option value="2">100 per Page</option>
                                <option value="3">150 Per Page</option>
                            </select>
                        </li>
                        <li>
                            {{toggleGirdView ? 'List' : 'Gird'}}
                            <div class="grid_icons" (click)="toggleGirdView = !toggleGirdView">
                                <span [ngClass]="{'feather-grid': !toggleGirdView, 'feather-list': toggleGirdView}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="selected_product_filter_listings"
                *ngIf="filter.productBrand.length >= 1  || filter.price_range.from >= 100  ">
                <ul>
                    <li>Fillter By:</li>
                    <ng-container *ngIf="filter.productBrand.length >= 1">
                        <!--  brand Filter Listings -->
                        <li *ngFor="let item of filter.productBrand" class="filter_tab">
                            Brand: <span>{{item.brand}}</span>
                            <!-- <button (click)="removeFilter(item,'brand')" class="feather-x"></button> -->
                        </li>
                    </ng-container>
                    <ng-container *ngIf="filter.offersAmount">
                        <!-- Discount Filter Listings -->
                        <li class="filter_tab">
                            Discount: <span>{{filter.offersAmount}} % Off</span>
                         </li>
                    </ng-container>

                    <ng-container *ngIf="filter.price_range.from >= 100">
                        <!-- Discount Filter Listings -->
                        <li class="filter_tab">
                            Price: <span>{{filter.price_range.from | currency: 'INR'}} to {{filter.price_range.to | currency: 'INR'}}</span>
                            <!--<button (click)="removeFilter('','discount')" class="feather-x"></button>-->
                        </li>
                    </ng-container>
                  
                     <li><button (click)="clearFillter()">Clear All</button></li>
                </ul>
            </div>
            <div class="product_listing_body">
                <ng-container *ngIf="productData?.length >= 1; else noDataFound">
                    <ng-container *ngFor="let product of productData">

                        <div class="p_wrapper" [ngClass]="{'list-view': toggleGirdView}" routerLink="/product-detail/{{product.productName}}/{{product._id}}">
                            <div class="p_img">
                                <img [src]="product.productImages[0]" [alt]="product.productName"
                                    onerror="this.src=`https://saleable-docs.s3.ap-south-1.amazonaws.com/others/img-thumbnail2.gif`;">
                            </div>
                            <!-- <div class="p_wishlist">
                                    <span class="feather-heart"></span> wishlist
                                </div> -->
                            <div class="p_dec">
                                <p class="p_name">
                                    {{product.productName }}
                                </p>
                                <div class="price_listing">
                                    <ul>
                                        <ng-container *ngIf="product.productSalePrice; else showNormalPrice">

                                            <li>
                                                {{ product.productSalePrice | currency:'INR'}}
                                            </li>
                                            <li>
                                                <span> {{ product.productRegPrice| currency:'INR'}}</span>
                                                <span>({{product.productDiscount}}% Off)</span>
                                            </li>
                                        </ng-container>
                                        <ng-template #showNormalPrice>
                                            <li>
                                                {{ product.productRegPrice| currency:'INR'}}
                                            </li>
                                        </ng-template>
                                    </ul>
                                </div>
                                <ng-container *ngIf="toggleGirdView">
                                    <h6>Description</h6>
                                    <div class="product_small_decriptions"[innerHtml]="product.productDescription"></div>
                                 </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #noDataFound>
                    <div class="no_data_found">
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/error-no-search-results_2353c5.png"
                            alt="no_data_found">
                        <h4>Sorry, no results found!</h4>
                    </div>
                </ng-template>


            </div>
        </div>
    </div>

</div>