<div class="fix_width">
        <div class="profile_grid">
            <div class="profile_navigation_menu">
                <ul>
                    <li routerLink="/my/profile" routerLinkActive="active">
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/profile.png" >
                        Profile
                    </li>
                    <li>
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/purchase-order.png" >
                        Orders
                    </li>
                    <li>
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/home-address.png" >
                        Address
                    </li>
                    <li>
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/credit.png" >
                        Payments
                    </li>
                    <li>
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/product-return+(1).png" >
                        Returns
                    </li>

                    <li>
                        <img src="https://saleable-docs.s3.ap-south-1.amazonaws.com/others/wishlist.png">
                        Wishlist
                    </li>

                </ul>
            </div>
            <div class="profile_component">

            </div>
        </div>
</div>